.container {
  width: 70%;
  margin: 20px auto;
}

.btn {
  width: 150px;
  background-color: #53585F;
  border-radius: 6px;
  height: 54px;
  line-height: 54px;
}

.file-name {
  line-height: 64px;
}
