<div class="container">
  <div class="row">
    <div class="col s9">
      <div class="file-field input-field">
        <div class="btn waves-effect waves-light">
          <span>Select File</span>
          <input type="file" (change)="onSelectFile($event)">
        </div>
        <div class="file-path-wrapper file-name">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="col s12 btn-container" (click)="onSendFile()">
        <a class="waves-effect waves-light btn-large">SEND</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <span class="response-text">{{ responseText }}</span>
    </div>
  </div>
</div>
