<div id="menu-header">
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="center hide-on-med-and-down">
        <li><a routerLink="/insert" routerLinkActive="active">INSERT SINGLE LOG</a></li>
        <li><a routerLink="/import" routerLinkActive="active">IMPORT LOG FILE</a></li>
        <li><a routerLink="/search" routerLinkActive="active">SEARCH LOG</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/insert" routerLinkActive="active">INSERT SINGLE LOG</a></li>
    <li><a routerLink="/import" routerLinkActive="active">IMPORT LOG FILE</a></li>
    <li><a routerLink="/search" routerLinkActive="active">SEARCH LOG</a></li>
  </ul>
</div>
